html {
    height: 100%;
    width: 100%;
  }
  
  .Bobik {
    text-align: center;
    color: darkblue
  }
  
  .ACT {
    color: #225b6f
  }
  
  .text1 {
    text-align: left;
    width: 50%;
    line-height: 0.5;
    }
  
  
  